<h2 mat-dialog-title>{{ editing ? "Edit Teacher" : "Add Teacher" }}</h2>
<mat-dialog-content class="mat-typography">
  <div class="container">
    <p>Teacher Details</p>
    <form #formq [formGroup]="form" class="row" (submit)="submit($event)">
      <div class="col-4">
        <mat-form-field appearance="outline">
          <mat-label>First Name (Arabic)</mat-label>
          <input formControlName="fNameAr" matInput />
          <mat-icon matSuffix (click)="clearVal($event)"
            >cancel</mat-icon
          >
          <!-- <mat-hint>Hint</mat-hint> -->
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Last Name (English)</mat-label>
          <input formControlName="lNameEn" matInput />
          <mat-icon matSuffix>cancel</mat-icon>
          <!-- <mat-hint>Hint</mat-hint> -->
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Email ID</mat-label>
          <input formControlName="email" matInput />
          <mat-icon matSuffix>cancel</mat-icon>
          <!-- <mat-hint>Hint</mat-hint> -->
        </mat-form-field>
        <!-- <mat-form-field appearance="outline">
            <mat-label>Select Subjects</mat-label>
            <mat-select formControlName="subjects">
              <mat-option value="Math">Math</mat-option>
              <mat-option value="Biology">Biology</mat-option>
              <mat-option value="Economics">Economics</mat-option>
            </mat-select>
          </mat-form-field> -->
          <mat-form-field appearance="outline">
            <mat-label>Select Subjects</mat-label>
            <mat-select formControlName="subjects" multiple>
              <mat-option *ngFor="let topping of allSubjects" [value]="topping">{{topping}}</mat-option>
            </mat-select>
          </mat-form-field>
        <!-- <mat-form-field appearance="outline">
          <mat-label>Select Subjects</mat-label>
          <input formControlName="subjects" matInput />
          <mat-icon matSuffix>cancel</mat-icon>
          <mat-hint>Hint</mat-hint>
        </mat-form-field> -->
      </div>
      <div class="col-4">
        <mat-form-field appearance="outline">
          <mat-label>First Name (English)</mat-label>
          <input formControlName="fNameEn" matInput />
          <mat-icon matSuffix>cancel</mat-icon>
          <!-- <mat-hint>Hint</mat-hint> -->
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Gender</mat-label>
          <mat-select formControlName="gender">
            <mat-option value="Male">Male</mat-option>
            <mat-option value="Female">Female</mat-option>
          </mat-select>
        </mat-form-field>
        <!-- <mat-form-field appearance="outline">
            <mat-label>Gender</mat-label>
            <input formControlName="gender" matInput />
            <mat-icon matSuffix>cancel</mat-icon>
            <mat-hint>Hint</mat-hint>
          </mat-form-field> -->
        <mat-form-field appearance="outline">
          <mat-label>Teacher ID</mat-label>
          <input formControlName="teacherId" matInput />
          <mat-icon matSuffix>cancel</mat-icon>
          <!-- <mat-hint>Hint</mat-hint> -->
        </mat-form-field>
      </div>
      <div class="col-4">
        <mat-form-field appearance="outline">
          <mat-label>Last Name (Arabic)</mat-label>
          <input formControlName="lNameAr" matInput />
          <mat-icon matSuffix>cancel</mat-icon>
          <!-- <mat-hint>Hint</mat-hint> -->
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Choose a date</mat-label>
          <input
            formControlName="birthDate"
            matInput
            [matDatepicker]="picker"
          />
          <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <!-- <mat-form-field appearance="outline">
            <mat-label>Birth Date</mat-label>
            <input formControlName="birthDate" matInput />
            <mat-icon matSuffix>cancel</mat-icon>
            <mat-hint>Hint</mat-hint>
          </mat-form-field> -->
        <mat-form-field appearance="outline">
          <mat-label>Picture Added</mat-label>
          <input formControlName="picture" [disabled]="true" matInput />
          <mat-icon matSuffix>cancel</mat-icon>
          <!-- <mat-hint>Hint</mat-hint> -->
        </mat-form-field>
      </div>
      <div class="edit-action">
        <button mat-button type="submit">Save</button>
        <button mat-button type="button" (click)="closeModal()">Cancel</button>
      </div>
    </form>
  </div>
</mat-dialog-content>
<!-- <mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="false" (click)="submit()" cdkFocusInitial>Save</button>
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions> -->
