@import "./../../variables";

.main-nav-container {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.main-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  //background-color: blue;
  padding: 1% 3%;
}

.main-sidenav {
  padding: 20px;
}

.main-div {
  height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: $primary-color-bg;
}

.sub-sidenav-content {
  //background-color: #6f6f6f;
  width: 100%;
  height: 100%;
}
.sidebar-wrapper {
  // background-color: blue;
}
mat-drawer {
  width: 20%;
}


