@import "./../../../variables";
.navbar-top-main {
  //margin: 1%;
}

.mat-nav-custom-style-main {
  border-radius: 8px;
  box-shadow: $primary-md-box-shadow;
  transition: $primary-md-transition;
  background-color: white;
  div {
    width: 100%;
    .nav-toolbar-content {
      float: right;
    }
  }

}
