@import "./../../../variables";


.mat-nav-custom-style-main {
  border-radius: 8px;
  box-shadow: $primary-md-box-shadow;
  transition: $primary-md-transition;
  background-color: white;
  div {
    width: 100%;
    .nav-toolbar-content {
      float: right;
      display: flex;
      flex-direction: row;
      align-content: center;
      align-items: center;
      justify-content: space-evenly;
      width: 225px;
      span{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        * {
          font-size: 120%;
          color: #6385f4;
        }
      }
    }
  }

}

.header-avatar{
  border-radius: 50%;
}
.header-item{
  width: 35px;
  height: 35px;
}
