<!--<p>navbar works!</p>-->

<p class="navbar-top-main">
  <mat-toolbar class="mat-nav-custom-style-main">
    <div>
      <span class="nav-toolbar-content">
        <img class="header-item header-avatar cp" src="./assets/us-flag.png" />
        <span
          ><mat-icon
            class="cp"
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="nightlight"
          ></mat-icon
        ></span>
        <span
          ><mat-icon
            class="cp"
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="apps"
          ></mat-icon
        ></span>
        <span
          ><mat-icon
            class="cp"
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="home"
            matBadge="4"
            matBadgeColor="warn"
          ></mat-icon
        ></span>
        <img class="header-item header-avatar cp" src="./assets/header.jpg" />
      </span>
    </div>
  </mat-toolbar>
</p>
