<div class="vt-main">
  <div class="av-section">
    <img src="./assets/header.jpg" alt="avatar" />
    <span>{{item.name}}</span>
    <span>Class 6th, D</span>
  </div>
  <hr class="info-hr" />
  <div class="info-section">
    <span class="info">Information</span>
    <span>
        <!-- <span> -->
          <mat-icon class="cp" aria-hidden="false" aria-label="close icon" fontIcon="phone"></mat-icon>
        <!-- </span> -->
        &nbsp;
        <span>999-999-999</span>
      </span>
    <span>
      <!-- <span> -->
        <mat-icon class="cp" aria-hidden="false" aria-label="close icon" fontIcon="email"></mat-icon>
      <!-- </span> -->
      &nbsp;
      <span>{{item.email}}</span>
    </span>
  </div>
  <hr class="info-hr" />
  <div class="info-section">
    <span class="info">Subjects</span>
    <span>
      <!-- <span> -->
        <mat-icon class="cp" aria-hidden="false" aria-label="close icon" fontIcon="book"></mat-icon>
      <!-- </span> -->
      &nbsp;
      <span>{{item.subjects}}</span>
    </span>
  </div>
</div>
